body{
    font-family:georgia, serif;
    background: center no-repeat url("../Image/arriere-plan-pour-site-web-2-0-1920x1200.jpg");

}
h1 {
    color: greenyellow;
    border: 1px solid black;
    text-align: center;
}
p{
    color:red;
    font-size: larger;
    }

li {
    font-size: 20px;
    letter-spacing: 1px;
    color: greenyellow;

}

a {
    color: greenyellow;
}

img {
    height: 30%;
    width: 30%;
    position: static;
    margin-left: 30px;
    margin-top: 100px;
}
#photoleague{
    position: static;
    height: 32%;
    width: 32%;
}
.photodroite {
    position: static;
    height: 32%;
    width: 32%;
}
#photologo{
    position: static;
    height: 30%;
    width: 30%;
}