main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;
	text-align: center;

}


nav
{
	width : 150px ;
	border : 1px solid blue ;
	display: inline-block;
	position: relative;
	margin-left: 0;
	text-align: left;
}
section
{
	border : 1px solid blue ;
	width: 55%;
	display: inline-block;
	text-align: center;
	margin-left: 50px;
	vertical-align: top;
	position: relative;
	margin-right: 200px;

}




