main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;
	text-align: center;

}


nav
{
	width : 15% ;
	border : 1px solid blue ;
	display: inline-block;
	float: left;
	margin-left: 0;
	text-align: left;
	margin-right: 0;

}
section
{

}

#text1
{
	border : 1px solid blue ;
	width: 40%;
	display: inline-block;
	text-align: center;
	margin-left: 0;
}

#text2
{
	border : 1px solid blue ;
	display: inline-block;
	width: 30%;
	margin-left: 2%;

}





