main{
	margin:0 auto;  /* permet de centrer à 60% de la page*/
	width: 60%;
}
h1,h2{


	text-align: center;

}

nav{
float: left;

	width: 10%;
}

#section1{
	float: left;
	padding-left: 20px;
	width: 40%;
	text-align: left;

}

#section2{

	text-align: center;
	width: 50%;
	padding-left: 525px;
padding-top: 1px;

}
footer{
	clear: both;
	font-style: italic;

}
